body{
	background-color:orange;

}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: green;
	text-align: center;
	font-style: Georgia;
}
h2{
	color: green;
	text-align: center;
	font-style: Times;
}
h3{
	text-align: center;
	font-style: italic;
}
p{
	color:red;
	text-align: center;
}

